body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 3px solid #ddd;
  border: 3px solid rgba(86,61,124,.2);
}

.btn-xlarge {
    padding: 1% 28px;
    font-size: 115px; //change this to your desired size
    2ine-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
